<div class="page-header">
  <h1>Survey Questions</h1>
</div>

<div class="row">
  <%= form_tag "/user_answers", method: :post do %>
      <div class="col-md-6 col-centered">
        <div class="thumbnail">
          <h3><%= @question.question %></h3>
            <% @question.answers.each do |answer| %>
            <div>
              <%= radio_button_tag(:answer_id, answer.id) %>
              <%= label_tag(:answer_id, answer.answer) %>
            </div>
            <% end %>
            <div>
              <%= hidden_field_tag :question_id, @question.id + 1 %>
            </div>
            <div>
              <%= submit_tag "Submit" %>
            </div>
            <% if @question.id > 2 %>
              <button class="btn btn-default" type="submit"><%= link_to "Previous", "#{@question.id - 1}" %></button>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
