<div class="page-header">
  <h1>Treatment Recommendations</h1>
</div>

<div class="container">
  <p><strong>Note:</strong> Please consult a <strong>medical professional</strong> before utilizing any of the below treatment options.</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <% @treatments.each_with_index do |specific, idx| %>
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= idx.to_s %>" ><%= specific[0]["name"] %></a>
        </h4>
      </div>
      <div id="collapse<%= idx.to_s %>" class="panel-collapse collapse in">
        <div class="panel-body"><%= specific[0]["description"] %></div>
      </div>
      <% end %>
    </div>
  </div>
  <button class="btn btn-info" type="submit" ><%= link_to "Back to Results!", "/survey/results" %></button>
</div>
