<div class="page-header">
  <h1><%= current_user.email %> Your Results!</h1>
</div>

<div class="row">
  <div class="col-md-6 col-centered">
    <% @categories.each do |category| %>
    <div class="thumbnail">
      <h4>Category: <%= category.name %>

    </div>
    <% end %>
    <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
      labels: ["Diet", "Sleep", "Exercise"],
      datasets: [{
          label: 'Category Score',
          data: [12, 19, 3],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
      }]
  },
  options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero:true
              }
          }]
      }
  }
});
</script>

    <h3>Your Brain Score:</h3>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= @brain_score %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @brain_score %>%"><%= @brain_score %>%
        <span class="sr-only"> <%= @brain_score %> Complete </span>
      </div>
    </div>

  </div>
    <button class="btn btn-success" type="submit"><%= link_to "Treatments!", "/recommendations" %></button>
</div>
