<div class="page-header">
  <h1><%= current_user.email %> Your Results!</h1>
</div>

<div class="row">
  <div class="col-md-6 col-centered">
    <% @user_answers.each do |user_answer| %>
      <div class="thumbnail">
        <h4>Category: <%= user_answer.answer.question.category.name %></h4>
        <h4>Question: <%= user_answer.answer.question.question %></h4>
        <p>Answer Choice: <%= user_answer.answer.answer %></p>
      </div>
    <% end %>
      <h4> <%= @answer_influence %></h4>
      <h4><%= number_to_percentage(@brain_score) %></h4>
  </div>
    <button class="btn btn-success" type="submit"><%= link_to "Treatments!", "/recommendations" %></button>
</div>
