<div class="container">

<div class="page-header">
  <h1><%= current_user.username %> Your Results!</h1>
</div>

<div class="row">
  <div class="col-md-6 col-centered">
    <% @categories.each do |category| %>
    <% if category.name == "Diet" && @diet_performance == true %>
      <div id="category" class="thumbnail background-color-green">
        <h4><i class="fa fa-cutlery fa-lg" aria-hidden="true"></i><%= category.name %></h4>
      </div>
    <% elsif category.name == "Diet" && @diet_performance != true %>
      <div id="category" class="thumbnail background-color-red">
        <h4><i class="fa fa-cutlery fa-lg" aria-hidden="true"></i><%= category.name %></h4>
      </div>
      <% end %>
    <% if category.name == "Exercise" && @exercise_performance == true %>
      <div id="category" class="thumbnail background-color-green">
        <h4><i class="fa fa-futbol-o fa-lg" aria-hidden="true"></i><%= category.name %></h4>
      </div>
    <% elsif category.name == "Exercise" && @exercise_performance != true %>
      <div id="category" class="thumbnail background-color-red">
        <h4><i class="fa fa-futbol-o fa-lg fa-spin" aria-hidden="true"></i><%= category.name %></h4>
      </div>
      <% end %>
    <% if category.name == "Stress" && @stress_performance == true %>
      <div id="category" class="thumbnail background-color-green">
        <h4><i class="fa fa-frown-o fa-lg" aria-hidden="true"></i><%= category.name %></h4>
      </div>
    <% elsif category.name == "Stress" && @stress_performance != true %>
      <div id="category" class="thumbnail background-color-red">
        <h4><i class="fa fa-frown-o fa-lg" aria-hidden="true"></i><%= category.name %></h4>
      </div>
      <% end %>
      <% if category.name == "Sleep" && @sleep_performance == true %>
        <div id="category" class="thumbnail background-color-green">
          <h4><i class="fa fa-bed fa-lg" aria-hidden="true"></i><%= category.name %></h4>
        </div>
      <% elsif category.name == "Sleep" && @sleep_performance != true %>
        <div id="category" class="thumbnail background-color-red">
          <h4><i class="fa fa-bed fa-lg" aria-hidden="true"></i><%= category.name %></h4>
        </div>
      <% end %>
    <% end %>
    </div>
    <div class="col-md-6 col-centered">
      <div>
        <canvas id="myChart" width="300" height="150"></canvas>
  <script>
  var ctx = document.getElementById("myChart");
  var diet_score = <%= @diet_score %>;
  var exercise_score = <%= @exercise_score %>;
  var stress_score = <%= @stress_score %>;
  var sleep_score = <%= @sleep_score %>;
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["Diet", "Exercise", "Sleep", "Stress"],
          datasets: [{
              label: 'Current Performance',
              data: [diet_score, exercise_score, sleep_score, stress_score],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
  </script>
      </div>
    </div>

    <h3>Your Brain Score: <span id="quota"><%= @brain_score %></span>%</h3>
    <div class="progress">
      <div id=myProgress class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"><%= @brain_score %>%</div>
    </div>

    <div class="herotreatments">
      <%= link_to "Treatments!", "/recommendations", class: "btn btn-info btn-lg"%>
    </div>
</div>

</div>
